body{
  font-family: "Merienda", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: linear-gradient(to bottom right, #041b27, #00d7ff); /*cambiamos el fondo imagen por css directo*/  
}

#title{
  font-family: "Merienda", cursive;
  background: linear-gradient(to right, #1e7fff, #31ff87);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: text 5s linear infinite;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

@keyframes text {
  0%{
    filter:hue-rotate(0deg);
  }
  100%{
    filter:hue-rotate(360deg);
  }
}

.ChapterContainer{
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  color: whitesmoke;
  
}

.ChapterContainer h2{

  text-align:center;
  padding: 15px;
}
.ChapterContainer p{
  text-align:justify;
  padding: 15px;
}
.ChapterContainer img{
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 30rem;
}
